@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap");

:root {
  --color-red: #f03c42;
  --bg-dark-blue: #222374;
  --bg-white: #fff;
  --bg-card-space: #ccc;
  --bg-card-modality: #222374;
  --footer-black: #000;
  --text-white: #fff;
  --text-black: #000;
  --text-red: #f03c42;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a,
a:hover {
  color: unset;
  text-decoration: none;
}

body {
  margin: 8px;
  background-color: var(--bg-card-space);
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.page-header {
  background-color: var(--color-red);
  color: var(--text-white);
  max-width: 1200px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-header {
  font-size: 18px;
  margin-left: 120px;
}

.social-network {
  font-size: 14px;
  margin-right: 120px;
  display: flex;
  align-items: center;
}

.social-network img {
  padding: 0px 10px 0px 0px;
}

#know-our-space {
  background-color: var(--bg-dark-blue);
  max-width: 1200px;
  min-height: 418px;
  padding-bottom: 40px;
}

.space-title {
  color: var(--text-white);
  font-size: 32px;
  margin-left: 120px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.space-card {
  background-color: var(--bg-card-space);
  max-width: 960px;
  min-height: 127px;
  border-radius: 8px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.space-card h3 {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.space-card p {
  font-size: 14px;
  padding: 20px;
}

#modality {
  background-color: var(--bg-white);
  max-width: 1200px;
  min-height: 880px;
  padding-bottom: 40px;
}

.modality-title {
  color: var(--text-red);
  font-size: 32px;
  margin-left: 120px;
  padding-top: 20px;
  margin-bottom: 40px;
}

.modality-card {
  background-color: var(--bg-card-modality);
  color: var(--text-white);
  border-radius: 8px;
  max-width: 960px;
  min-height: 106px;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.modality-card h3 {
  font-size: 20px;
  padding: 20px 20px 0px 20px;
}

.modality-card p {
  font-size: 14px;
  padding: 20px;
}

footer {
  background-color: var(--footer-black);
  color: var(--text-white);
  max-width: 1200px;
  min-height: 262px;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.footer-content-instagram {
  margin-top: 60px;
  display: flex;
  align-items: center;
}

.footer-content-instagram a {
  margin-left: 10px;
}

.footer-content-twitter {
  display: flex;
  align-items: center;
}

.footer-content-twitter img {
  margin-top: 10px;
}

.footer-content-twitter a {
  margin-left: 10px;
}

.footer-content-data {
  margin-top: 30px;
}
